<div class="login">
  <div class="login-box">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="text-center">
            <img alt="homepage" src="assets/images/logo_tiny_notext.png" />
            <h4 class="m-t-0">Two-Factor Authentication</h4>
          </div>
          <p class="text-center font-14">
            Enter the 6-digit code below that you received on your email.
          </p>
          <div fxLayout="row wrap">
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Code (XXXXXX)"
                  type="text"
                  [formControl]="code"
                  mask="999999"
                />
              </mat-form-field>
              <small *ngIf="code.invalid && code.touched" class="text-danger support-text">{{
                codeError
              }}</small>
            </div>

            <button
              mat-raised-button
              color="primary"
              type="submit"
              class="btn-block btn-lg m-t-20"
              [disabled]="!form.valid"
            >
              Submit
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
