<div class="login">
  <div class="login-box">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="text-center">
            <img alt="homepage" src="assets/images/logo_tiny_notext.png" />
            <h4 class="m-t-0">Login to Customa - Admin</h4>
          </div>
          <div fxLayout="row wrap">
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" *ngIf="show == 'login'">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Email"
                  type="email"
                  [formControl]="email"
                  maxlength="100"
                />
              </mat-form-field>
              <small *ngIf="email.invalid && email.touched" class="text-danger support-text">{{
                emailError
              }}</small>
            </div>

            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" *ngIf="show == 'login'">
              <mat-form-field>
                <input matInput type="password" placeholder="Password" [formControl]="password" />
              </mat-form-field>
              <small
                *ngIf="password.invalid && password.touched"
                class="text-danger support-text"
                >{{ passwordError }}</small
              >
            </div>
            <!-- col full-->

            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" *ngIf="show == 'otp'">
              <div class="text-center">
                We have sent a one-time password to your email inbox. Please enter the 6-digit code
                below.
              </div>
              <mat-form-field>
                <input matInput type="text" placeholder="OTP" [formControl]="otp" />
              </mat-form-field>
            </div>
            <!-- col half-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" class="text-right">
              <a [routerLink]="['/forgot']" class="link">Forgot password?</a>
            </div>
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <button
                mat-raised-button
                color="primary"
                class="btn-block btn-lg m-t-20 m-b-20"
                type="submit"
                [disabled]="!form.valid"
              >
                {{ show === 'login' ? 'Send OTP' : 'Login' }}
              </button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
