<div class="login">
  <div class="login-box">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="text-center">
            <img alt="homepage" src="assets/images/logo_tiny_notext.png" />
            <h4 class="m-t-0">Recover Password</h4>
          </div>
          <p class="text-center font-14">Enter your new password.</p>
          <div fxLayout="row wrap">
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field>
                <input matInput placeholder="Email" type="email" [formControl]="Email" />
              </mat-form-field>
              <small *ngIf="Email.invalid && Email.touched" class="text-danger support-text">{{
                emailError
              }}</small>
            </div>
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field>
                <input
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  placeholder="Password"
                  [formControl]="Password"
                />
                <mat-icon matSuffix (click)="hide = !hide">{{
                  hide ? 'visibility_off' : 'visibility'
                }}</mat-icon>
              </mat-form-field>
              <small
                *ngIf="Password.invalid && Password.touched"
                class="text-danger support-text"
                >{{ passwordError }}</small
              >
            </div>
            <div *ngIf="errors.length > 0" class="text-danger">
              <ul>
                <li *ngFor="let error of errors">
                  {{ error }}
                </li>
              </ul>
            </div>
            <button
              mat-raised-button
              color="primary"
              type="submit"
              class="btn-block btn-lg m-t-20"
              [disabled]="!form.valid"
            >
              Submit
            </button>
            <div class="text-center m-t-20" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <span>
                <a [routerLink]="['/login']" class="link text-info"> Back to Login</a>
              </span>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
